.vertical-align{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.text-center{
    text-align: center;
}

.mt-0{
    margin-top: 0px;
}

.background-green{
    margin: 20px 20px 0px 20px;
    height: 100%;
   background-color: #36b79a;
    --ion-background-color: #36b79a;
    --ion-item-background: #508754;
}
.background-green-item{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
   background-color: #36b79a;
    --ion-background-color: #36b79a;
    --ion-item-background: #36b79a;
}
.button-viola{
    font-size: 12px;
    width: 100%;
    background-color: #F3937E;
    --background:#F3937E;
}
.mt-3{
    margin-top: 2rem;
}

.bg-viola{
    background-color: #F3937E;
    --background:#F3937E;
}

.bg-blue{
    background-color: #04b3ae;
    --background:#04b3ae;
}

.checkbox-disabled{
    opacity: 1;
    --border-color-checked: white;
    --background-checked: transparent;


}

.img_rounded{
    border-radius: 100%;
}