<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207671042231-kp7pcf9da83jgfaf76rdltqoe1bb1l6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207671042231-kp7pcf9da83jgfaf76rdltqoe1bb1l6s</string>
	<key>API_KEY</key>
	<string>AIzaSyB1L8437S7QPigCPP2CxQ28QbYBv89Ohzg</string>
	<key>GCM_SENDER_ID</key>
	<string>207671042231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HealtHabit.app</string>
	<key>PROJECT_ID</key>
	<string>healthabit-fcb7b</string>
	<key>STORAGE_BUCKET</key>
	<string>healthabit-fcb7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207671042231:ios:0df1e03d10f1611787ad32</string>
</dict>
</plist>